<div class="bg-primary text-white p-2" [class.bg-warning]="editing">
	<h5>{{editing ? "Edit" : "Create"}} Client</h5>
</div>

<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()" >

	<div class="form-group">
		<label>Name</label>
		<input class="form-control" name="name" [(ngModel)]="client.name" required />
	</div>

	<div class="form-group">
		<label>Birth Date</label>
		<input class="form-control" name="birthDate" [(ngModel)]="client.birthDate" required />
	</div>

	<div class="form-group">
		<label>Email</label>
		<input class="form-control" name="email" [(ngModel)]="client.email" required />
	</div>

    <div class="form-group">
		<label>Phone Number</label>
		<input class="form-control" name="phoneNumber" [(ngModel)]="client.phoneNumber" required pattern="^[0-9\.]+$" />
	</div>

	<button type="submit" class="btn btn-primary m-1" [class.btn-warning]="editing" [disabled]="form.invalid">
		{{editing ? "Save" : "Create"}}
	</button>
	<button type="reset" class="btn btn-secondary m-1">Cancel</button>
</form>